{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "max-len": 0,
    "no-undef": 0,
    "comma-dangle": 0,
    "indent": 0,
    "no-var": 1
  }
}
